* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

h1, h2 {
  line-height: 1.2;
  font-weight: 300;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #002240;
}

img {
  width: 100%;
}

code, pre {
  background-color: #002240;
  color: #fff;
  padding: 0.8rem;
}

.hidden {
  visibility: hidden;
  height: 0;
}

#header hr {
  border: 2px solid #047aed;
  width: 60px;
}

#header .logo {
  font-weight: bold;
}

#header .flex {
  flex-direction: column;
}

.container {
  max-width: 1100px;
  padding: 0 40px;
  overflow: auto;
  margin: 0 auto;
}

.card {
  background-color: #fff;
  color: #002240;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 1.5rem;
  margin: 0.8rem;
}

.alert {
  background-color: #f4f4f4;
  color: #002240;
  margin: 1rem 0;
  padding: 0.8rem 1.2rem;
  font-weight: bold;
}

.alert i {
  margin-right: 10px;
}

.alert-success {
  background-color: #5cb85c;
  color: #fff;
}

.alert-error {
  background-color: #d9534f;
  color: #fff;
}

.active {
  color: #e63946 !important;
}

.badge {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #002240;
  color: #fff;
  padding: 0.5rem 0.9rem;
}

.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.mt-1 {
  margin: 1rem 0 0 0;
}

.mr-1 {
  margin: 0 1rem 0 0;
}

.mb-1 {
  margin: 0 0 1rem 0;
}

.ml-1 {
  margin: 0 0 0 1rem;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.pt-1 {
  padding: 1rem 0 0 0;
}

.pr-1 {
  padding: 0 1rem 0 0;
}

.pb-1 {
  padding: 0 0 1rem 0;
}

.pl-1 {
  padding: 0 0 0 1rem;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.mx-2 {
  margin: 0 2rem;
}

.mt-2 {
  margin: 2rem 0 0 0;
}

.mr-2 {
  margin: 0 2rem 0 0;
}

.mb-2 {
  margin: 0 0 2rem 0;
}

.ml-2 {
  margin: 0 0 0 2rem;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.px-2 {
  padding: 0 2rem;
}

.pt-2 {
  padding: 2rem 0 0 0;
}

.pr-2 {
  padding: 0 2rem 0 0;
}

.pb-2 {
  padding: 0 0 2rem 0;
}

.pl-2 {
  padding: 0 0 0 2rem;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.mx-3 {
  margin: 0 3rem;
}

.mt-3 {
  margin: 3rem 0 0 0;
}

.mr-3 {
  margin: 0 3rem 0 0;
}

.mb-3 {
  margin: 0 0 3rem 0;
}

.ml-3 {
  margin: 0 0 0 3rem;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.px-3 {
  padding: 0 3rem;
}

.pt-3 {
  padding: 3rem 0 0 0;
}

.pr-3 {
  padding: 0 3rem 0 0;
}

.pb-3 {
  padding: 0 0 3rem 0;
}

.pl-3 {
  padding: 0 0 0 3rem;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.mx-4 {
  margin: 0 4rem;
}

.mt-4 {
  margin: 4rem 0 0 0;
}

.mr-4 {
  margin: 0 4rem 0 0;
}

.mb-4 {
  margin: 0 0 4rem 0;
}

.ml-4 {
  margin: 0 0 0 4rem;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.px-4 {
  padding: 0 4rem;
}

.pt-4 {
  padding: 4rem 0 0 0;
}

.pr-4 {
  padding: 0 4rem 0 0;
}

.pb-4 {
  padding: 0 0 4rem 0;
}

.pl-4 {
  padding: 0 0 0 4rem;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.mx-5 {
  margin: 0 5rem;
}

.mt-5 {
  margin: 5rem 0 0 0;
}

.mr-5 {
  margin: 0 5rem 0 0;
}

.mb-5 {
  margin: 0 0 5rem 0;
}

.ml-5 {
  margin: 0 0 0 5rem;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.px-5 {
  padding: 0 5rem;
}

.pt-5 {
  padding: 5rem 0 0 0;
}

.pr-5 {
  padding: 0 5rem 0 0;
}

.pb-5 {
  padding: 0 0 5rem 0;
}

.pl-5 {
  padding: 0 0 0 5rem;
}

.m-6 {
  margin: 6rem;
}

.my-6 {
  margin: 6rem 0;
}

.mx-6 {
  margin: 0 6rem;
}

.mt-6 {
  margin: 6rem 0 0 0;
}

.mr-6 {
  margin: 0 6rem 0 0;
}

.mb-6 {
  margin: 0 0 6rem 0;
}

.ml-6 {
  margin: 0 0 0 6rem;
}

.p-6 {
  padding: 6rem;
}

.py-6 {
  padding: 6rem 0;
}

.px-6 {
  padding: 0 6rem;
}

.pt-6 {
  padding: 6rem 0 0 0;
}

.pr-6 {
  padding: 0 6rem 0 0;
}

.pb-6 {
  padding: 0 0 6rem 0;
}

.pl-6 {
  padding: 0 0 0 6rem;
}

.btn {
  display: inline-block;
  cursor: pointer;
  padding: 0.7rem 1.2rem;
  border: none;
  outline: none;
  margin-right: 0.5rem;
}

.btn:hover {
  transform: scale(0.98);
}

.btn-round {
  border-radius: 5px;
}

.btn-outline {
  border: 1px solid #fff;
  background-color: transparent;
}

.bg-primary,
.btn-primary {
  background-color: #047aed;
  color: #fff;
}

.bg-secondary,
.btn-secondary {
  background-color: #1c3fa8;
  color: #fff;
}

.bg-dark,
.btn-dark {
  background-color: #002240;
  color: #fff;
}

.bg-light,
.btn-light {
  background-color: #f4f4f4;
  color: #002240;
}

.bg-primary a,
.btn-primary a,
.bg-secondary a,
.btn-secondary a,
.bg-dark a,
.btn-dark a {
  color: #fff;
}

.lead {
  font-size: 1.2rem;
}

.sm {
  font-size: 1rem;
}

.md {
  font-size: 2rem;
}

.lg {
  font-size: 3rem;
}

.xl {
  font-size: 4rem;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-primary {
  color: #047aed;
}

.text-secondary {
  color: #1c3fa8;
}

.text-dark {
  color: #002240;
}

.text-light {
  color: #f4f4f4;
}

.text-white {
  color: #fff;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
