// Main

.container {
  max-width: 1100px;
  padding: 0 40px;
  overflow: auto;
  margin: 0 auto;
}

// Others

.card {
  @include set-background($dark-color);
  box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.2);
  border-radius: 10px;
  padding: 1.5rem;
  margin: 0.8rem;
}

.alert {
  @include set-background($light-color);
  margin: 1rem 0;
  padding: 0.8rem 1.2rem;
  font-weight: bold;

  i {
    margin-right: 10px;
  }
}

.alert-success {
  @include set-background($success-color);
}

.alert-error {
  @include set-background($error-color);
}

.active {
  color: $active-color !important;
}

.badge {
  position: absolute;
  right: 0;
  top: 0;
  @include set-background($dark-color);
  padding: 0.5rem 0.9rem;
}

// Spacing

$spaceamounts: (1, 2, 3, 4, 5, 6);

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }
  .my-#{$space} {
    margin: #{$space}rem 0;
  }
  .mx-#{$space} {
    margin: 0 #{$space}rem;
  }
  .mt-#{$space} {
    margin: #{$space}rem 0 0 0;
  }
  .mr-#{$space} {
    margin: 0 #{$space}rem 0 0;
  }
  .mb-#{$space} {
    margin: 0 0 #{$space}rem 0;
  }
  .ml-#{$space} {
    margin: 0 0 0 #{$space}rem;
  }
  .p-#{$space} {
    padding: #{$space}rem;
  }
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
  .px-#{$space} {
    padding: 0 #{$space}rem;
  }
  .pt-#{$space} {
    padding: #{$space}rem 0 0 0;
  }
  .pr-#{$space} {
    padding: 0 #{$space}rem 0 0;
  }
  .pb-#{$space} {
    padding: 0 0 #{$space}rem 0;
  }
  .pl-#{$space} {
    padding: 0 0 0 #{$space}rem;
  }
}

// Buttons

.btn {
  display: inline-block;
  cursor: pointer;
  padding: 0.7rem 1.2rem;
  border: none;
  outline: none;
  margin-right: 0.5rem;

  &:hover {
    transform: scale(0.98);
  }
}

.btn-round {
  border-radius: 5px;
}

.btn-outline {
  border: 1px solid $white-color;
  background-color: transparent;
}

// Background and Color

.bg-primary,
.btn-primary {
  @include set-background($primary-color);
}

.bg-secondary,
.btn-secondary {
  @include set-background($secondary-color);
}

.bg-dark,
.btn-dark {
  @include set-background($dark-color);
}

.bg-light,
.btn-light {
  @include set-background($light-color);
}

.bg-primary,
.btn-primary,
.bg-secondary,
.btn-secondary,
.bg-dark,
.btn-dark {
  a {
    color: $white-color;
  }
}

// Text

.lead {
  font-size: 1.2rem;
}

.text-sm {
  font-size: 1rem;
}

.text-md {
  font-size: 2rem;
}

.text-lg {
  font-size: 3rem;
}

.text-xl {
  font-size: 4rem;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-primary {
  color: $primary-color;
}

.text-secondary {
  color: $secondary-color;
}

.text-dark {
  color: $dark-color;
}

.text-light {
  color: $light-color;
}

.text-white {
  color: $white-color;
}

.text-bold {
  font-weight: bold;
}
// Grid & Flex Box

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
