@import 'config';
@import 'main';

// Header

#header {
  hr {
    border: 2px solid $primary-color;
    width: 60px;
  }
  .logo {
    font-weight: bold;
  }
  .flex {
    flex-direction: column;
  }
}

@import 'utilities';
@import 'responsive';