@import 'config';
@import 'main';

// Header

#header {
  hr {
    border: 2px solid $primary-color;
    width: 60px;
  }
  .logo {
    font-weight: bold;
  }
  .flex {
    flex-direction: column;
  }
}

.main-section {
  .grid {
    gap: 0;

    .card {
      text-align: center;
      padding: 0;
      margin: 0.8rem;
    }
  }
}

@import 'utilities';
@import 'responsive';